.form-container {
    /* background: url('../images/bg-1.png') repeat;  */
    display: flex;
    padding: 50px 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.red-line {
    height: 2px;
    width: 85%;
    /* margin-left: 90px; */
    background-color: rgb(255, 255, 255);
}

.main-form {
    background-color: rgb(240, 228, 217, 0.6);
    color: #4a2f2f;
    width: 65%;
    margin-top: 10px;
    /* margin-left: 270px; */
    padding: 40px 80px;
    border-radius: 30px;
}

h2 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    padding-top: 10px;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 13px;
    /* border-color: #855b5b; */
    border: 1px solid;
    box-sizing: border-box;
    background-color: rgb(240, 228, 217, 0.3);

}

.form-group textarea {
    resize: vertical;
}

.submit-btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #694545;
    color: #ffffff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

.submit-btn:hover {
    background-color: #a12f2f;
    transition: 0.5s;
}

@media all and (width < 600px) {
    .red-line {
        margin-top: 10px;
        margin-bottom: 80px;
    }
    .main-form {
        padding: 50px 30px;
        width: 300px;
    }
    .form-container {
        padding: 10px 10px 65px 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}

@media all and (600px < width < 928px) {
    .form-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}