.form-container {
    background-color: var(--bg-black);
    display: flex;
    padding-top: 50px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.red-line {
    height: 2px;
    width: 85%;
    /* margin-left: 90px; */
    background-color: var(--bg-red);
}

.main-form {
    width: 50%;
    margin-top: 10px;
    /* margin-left: 270px; */
    padding: 40px;
    background-color: var(--bg-black);
    border-radius: 2px;
}

h2 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: #ffffff;
    font-size: 35px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    padding-top: 10px;
    color: #ffffff;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 13px;
    border: 1px solid #ffffff;
    box-sizing: border-box;
    background-color: var(--bg-black);
    color: white;
}

.form-group textarea {
    resize: vertical;
}

.submit-btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #c53838;
    color: #ffffff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

.submit-btn:hover {
    background-color: #a12f2f;
}

@media all and (width < 600px) {
    .red-line {
        margin-top: 70px;
    }
    .main-form {
        padding-bottom: 110px;
    }
    .form-container {
        display: flexbox;
        justify-content: space-between;
        align-items: center;
    }

}

@media all and (600px < width < 928px) {
    .form-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}