.donation-desc-container {
    padding: 10px 55px 20px 55px;
    color: white;
    border-radius: 25px;
}
.donation-desc-header {
    font-size: 42px;
    padding: 0;
    margin-bottom: 0;
    font-weight: 600;
}
.donation-desc-desc{
    font-size: 20px;
    font-weight: 100;
}

@media all and (width < 600px) {
    .donation-desc-container {
        margin-top: 40px;
        padding: 10px 30px;
    }
    .donation-desc-header {
        font-size: 25px;
    }
    .donation-desc-desc {
        font-size: 16px;
    }
}