.donate-section {
    padding: 130px 150px 100px 150px;
    background: url('../images/bg-1.png') repeat; 
    text-align: center;
}
.donation-container {
    background: var(--bg-red);
    padding: 35px 35px 55px 35px;
    box-shadow: 10px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
}
.donate-section-heading{
    font-size: 40px;
    color: rgb(255, 255, 255);
    background-color: var(--bg-red);
    padding-bottom: 10px;
    font-weight: lighter;
    font-family: 'Times New Roman', Times, serif;
}

.donate-section-para {
    font-size: 24px;
    color: rgb(255, 255, 255);
    background-color: var(--bg-red);
    padding-bottom: 10px;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}

.subscription-option{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.one-time-monthly {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px 0;
}

.oneTime {
    background-color: var(--bg-black);
    border-radius: 15px;
    height: 55px;
    font-size: 25px;
    width: 253px;
    font-family:'Times New Roman', Times, serif;
    color: rgb(255, 255, 255);
    border: 1.5px solid rgb(224, 99, 99);
    cursor: pointer;
    /* box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5); */
    transition: background-color 0.3s, transform 0.3s;
}
.oneTime-true, .monthly-true {
    background-color: rgb(235, 231, 231);
    border-radius: 15px;
    height: 55px;
    font-size: 25px;
    width: 253px;
    font-family:'Times New Roman', Times, serif;
    color: var(--bg-black);
    border: 1.5px solid rgb(224, 99, 99);
    cursor: pointer;
    /* box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5); */
    transition: background-color 0.3s, transform 0.3s;
}
.oneTime:hover, .monthly:hover {
    background-color: rgb(235, 231, 231);
    color: rgb(0, 0, 0);
    border: 1.5px solid rgb(0, 0, 0);
    transform: scale(1.05);
}

.monthly {
    background-color: var(--bg-black);
    border-radius: 15px;
    height: 55px;
    font-size: 25px;
    width: 252px;
    font-family:'Times New Roman', Times, serif;
    color: rgb(255, 255, 255);
    border: 1.5px solid rgb(224, 99, 99);
    cursor: pointer;
    /* box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5); */
    transition: background-color 0.3s, transform 0.3s;
}

.donation-options {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}
.donation-button-1 {
    font-family: 'Times New Roman', Times, serif;
    background-color: var(--bg-black);
    border-radius: 15px;
    height: 80px;
    width: 120px;
    font-size: 24px;
    color: rgb(255, 255, 255);
    border: 1.5px solid rgb(224, 99, 99);
    cursor: pointer;
    /* box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5); */
    transition: background-color 0.3s, transform 0.3s;
}
.donation-button-2 {
    background-color: var(--bg-black);
    font-family: 'Times New Roman', Times, serif;
    border-radius: 15px;
    height: 80px;
    width: 120px;
    font-size: 24px;
    color: rgb(255, 255, 255);
    border: 1.5px solid rgb(217, 64, 64);
    cursor: pointer;
    /* box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5); */
    transition: background-color 0.3s, transform 0.3s;
}

.donation-button-3 {
    background-color: var(--bg-black);
    font-family: 'Times New Roman', Times, serif;
    border-radius: 15px;
    height: 80px;
    width: 120px;
    font-size: 24px;
    color: rgb(255, 255, 255);
    border: 1.5px solid rgb(236, 4, 4);
    cursor: pointer;
    /* box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5); */
    transition: background-color 0.3s, transform 0.3s;
}
#donation-button-custom {
    background-color: var(--bg-black);
    font-family: 'Times New Roman', Times, serif;
    color: white;
    border-radius: 15px;
    font-size: 24px;
    height: 80px;
    width: 120px;
    border: 1.5px solid red;
    cursor: pointer;
}
.donation-button-1:hover {
    background-color:  rgb(180, 22, 22);
    color: rgb(0, 0, 0);
    border: 1.5px solid rgb(0, 0, 0);
    transform: scale(1.05);
}

.donation-button-2:hover {
    background-color:  rgb(180, 22, 22);
    color: rgb(0, 0, 0);
    border: 1.5px solid rgb(0, 0, 0);
    transform: scale(1.05);
}

.donation-button-3:hover {
    background-color:  rgb(180, 22, 22);
    color: rgb(0, 0, 0);
    border: 1.5px solid rgb(0, 0, 0);
    transform: scale(1.05);
}

#donation-button-custom:hover {
    background-color:  rgb(180, 22, 22);
    color: rgb(0, 0, 0);
    border: 1.5px solid rgb(0, 0, 0);
    transform: scale(1.05);
}

#custom-amount {
    font-size: 16px;
    padding: 7px;
    width: 26.5%;
    border-radius: 5px;
    color:#f0ebeb;
    font-family: 'Times New Roman', Times, serif;
    border: 2px solid black;
    background-color: var(--bg-black);
    margin-right: 10px;
}

#custom-donation-inputs {
    margin-top: 5px;
    padding-top: 10px;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
}
#custom-donate-button:hover {
    border: 1.5px solid #020202;
    background-color: #c51e1e;
    color: black;
    transition: 300ms;
    transform: scale(1.05);
}
.confirm-div {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
.confirm-cancel {
    display: flex;
    gap: 10px;
}
#confirm-amount {
    background-color: var(--bg-black);
    border: none;
    border-radius: 7px;
    border: 2px solid rgb(0, 0, 0);
    padding: 6.5px 10px;
    font-size: 16px;
    color: rgb(255, 255, 255);
    cursor: pointer;
}
.cancel-button {
    color: white;
    border: none;
    padding: 6.5px 10px;
    font-size: 16px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 7px;
    background: var(--bg-black);
    cursor: pointer;
}
#confirm-amount:hover {
    background: rgb(94, 139, 25);
    transition: 0.5s;
}
.cancel-button:hover {
    background: rgb(172, 5, 5);
    transition: 0.5s;
}

@media all and (width < 600px) {
    .donate-section{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .donation-container {
        width: 350px;
        height: auto;
        padding: 25px 5px 30px 5px;
        border-radius: 20px;
        box-shadow: 10px;
    }
    .donate-section-heading, .donate-section-para {
        font-size: 25px;
    }
    .oneTime, .monthly {
        width: 123px;
        font-size: 23px;
    }
    .one-time-monthly {
        display: flex;
    }
    .donation-options {
        display: flex;
        flex-wrap: wrap;
    }
    .donation-button-1, .donation-button-2, .donation-button-3, #donation-button-custom {
        font-size: 23px;
        height: 100px;
        margin: 0;
    }
    #custom-amount {
        width: 68%;
        margin: 0;
    }
    .confirm-cancel {
        padding-top: 5px;
        display: flex;
        gap: 10px;
    }
    #custom-donation-inputs {
        display: flex;
        flex-direction: column;
    }

}

@media all and (600px < width < 928px) {
    .donation-button-1, .donation-button-2, .donation-button-3, #donation-button-custom {
        font-size: 17px;
        width: auto;
        /* height: auto; */
    }
    .donate-section-heading, .donate-section-para {
        scale: 0.8;
    }
}