.wrapper {
    background: url('../images/bg-1.png') repeat; 
    padding: 170px 0;
}
.wrapper-holder{
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 100px;
}
.main-header {
    background: black;
    font-size: 44px;
}
.line-and-general {
    display: flex;
    gap: 5px;
    align-items: center;
    padding-bottom: 20px;
}
.general {
    padding: 10px;
    font-size: 20px;
}
.line-l, .line-r {
    height: 1px;
    background: white;
    width: 400px;
}
.question-answer {
    display: flex;
    flex-direction: column;
    padding: 20px;
    /* background: var(--bg-black); */
    background: black;
    color: white;
}
.qa-inner {
    transition: max-height 0.3s ease-in-out;
    padding: 20px;
}
.question {
    display: flex;
    font-size: 22px;
    justify-content: space-between;
}
.answer {
    /* transition: opacity 0.3s ease-in-out, max-height 0.3s ease-in-out; */
    transition: max-height 0.5s ease-in-out;
    font-size: 20px;
    margin-bottom: 15px;
}
.answer .answer-open {
    max-height: auto;
}
.answer-close {
    max-height: 0px;
    overflow: hidden;
}
.open-close-btn {
    font-size: 30px;
    background: black;
    color: white;
    border: none;
}
.open-close-btn:hover {
    scale: 1.1;
    transition: 0.5s;
}
.line-hide {
    height: 1px;
    background: white;
}

@media all and (width < 600px) {
    .wrapper {
        padding: 80px 0;
    }
    .wrapper-holder {
        padding: 10px 30px;
    }
    .line-l, .line-r {
        width: 60px;
    }
    .answer {
        padding-top: 20px;
    }
    .qa-inner {
        /* background: gray; */
        transition: max-height 0.3s ease-in-out;
        padding: 20px;    }
    .answer-open {
        height: fit-content;
    }
}

.black-box-2{
    height: 110px;
    background: var(--bg-black);
}

@media all and (600px < width < 928px) {

    .wrapper-holder{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin: 30px;
        background: rgb(0, 0, 0);
    }
    .images {
        scale: 0.9;
        margin: 10px;

    }
}