:root {
    --bg-red: #8B0000;
    --bg-black: #282626;
    --bg-white: #ffffff;
}

.navbar {
    z-index: 10;
    position: fixed;
    background-color: var(--bg-red);
    /* color: rgb(0, 0, 0); */
    height: 8vw;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.ttu-msa {
    color: white;
    justify-content: flex-start;
    display: flex;
    font-size: 16px;
    padding: 0;
    font-weight: 100;
    top: 10px;
    margin-left: 0;
    position: relative;
    letter-spacing: 0.5px;
}

.ttu-basmalah {
    color: white;
    letter-spacing: 0.5px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    font-style: normal;
    font-size: 12px;
    bottom: 6px;
    position: relative;
}

.logo-desc {
    display: flex;
    align-items: center;
    padding: 20px 10px 20px 10px;
    gap: 0;
}

/* .logo-desc h4 {
    color: white;
    opacity: 95%;
    font-family:'Times New Roman', Times, serif;
    font-size: 22px;
    font-weight: 100;
    margin-left: 20px;
} */

.logo{
    height: 100px;
}

.navbar ul li{
    list-style: none;
    display: inline-flex;
    margin: 0 13px;
    position: relative;
    bottom: 10px;
}

.navbar ul li a{
    text-decoration: none;
    font-size: 18px;
    font-family:'Times New Roman', Times, serif;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-weight: 100;
}

.navbar ul li a:hover{
    color: rgb(0, 0, 0);
    transition: 0.5s;
}

.navbar ul li::after{ 
    content: '';
    height: 0.2vh;
    width: 0%;
    background: #000000;
    position: absolute;
    left: 0;
    bottom: -7px;
    transition: 0.5s;
}

.navbar ul li:hover::after{
    width: 100%;
}

.menu-icon{
    display: none;
}

.menu-icon i{
    color: #fff;
    font-size: 28px;
}

.menuList-open {
    height: 300px;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    padding-left: 0;
}

.menuList-closed {
    height: 0;
}

@media all and (width < 600px) {
    .mobile-hyperlink {
        height: 2px;
        width: 20px;
        border-radius: 6px;
        background-color: #e7cdcd;
    }
    .navbar {
        height: 40px;
        padding-left: 0;
        width: 100%;
    }
    .navbar ul{
        position: absolute;
        top: 29px;
        left: 0;
        right: 0;
        display: flexbox;
        text-align: center;
        background: var(--bg-red);
        gap: 0;
        overflow: hidden;
        z-index: 10;
        padding: 0;
    }
    .menuList-open {
        height: 320px;
        /* margin: 0; */
    }
    .logo {
        height: 32px;
    }
    .logo-desc {
        align-items: center;
        justify-content: center;
        display: flex;
        margin: 0;
        padding: 0;
        /* margin-left: 2px; */
    }
    .ttu-basmalah{
        top: -2px;
        /* bottom: 9px; */
        font-size: 5px;
    }
    .ttu-msa{
        top: 16px;
        font-size: 6px;
    }
    .navbar ul li{
        padding: 20px 70px 15px 70px;
    }
    .navbar ul li a {
        font-size: 14px;
    }
    .menu-icon{
        display: flex;
        flex-direction: column;
        gap: 3.5px;
        padding: 20px 25px 20px 0;
        /* display: block; */
        /* scale: 0.6; */
    }
    #menuList{ 
        transition: 0.5s;
    }
}

@media all and (600px < width < 928px) {
    .navbar ul li, .logo {
        scale: 0.85;
    }
}