.prayer-times-outer {
    background: url('../images/bg-1.png');
    padding: 100px;
}
.prayer-times-inner {
    display: flex;
    background: var(--bg-red);
    padding: 50px 0;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
}
.prayer-times-outer img {
    width: 750px;
    height: 550px;
}