.signin-outer {
    font-family: 'Times New Roman', Times, serif;
    background: url(../images/bg-1.png);
    padding: 200px 100px 100px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    color: white;
}

.signin-outer input {
    background: url(../images/bg-1.png);
    border: 1px solid white;
    color: whitesmoke;
}
button {
    cursor: pointer;
}