.connect-container {
    background: url('../images/bg-2.png') repeat; 
    padding-top: 20px;
}

.socials-connect {
    padding: 0 80px 80px 80px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-wrap: nowrap;
    height: 300px;
}

.connect-header {
    padding-top: 40px;
    display: flex;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
}

.connect-discord, .connect-facebook, .connect-youtube, .connect-instagram {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.connect-header h3 {
    color: rgb(255, 255, 255);
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
}

.discord-logo{
    height: 140px;
    width: 150px;
    border-radius: 200px;
    cursor: pointer;
}

.discord-header {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    /* margin: 120px 0 0 0; */

}

.discord-logo:hover{
    transition: 400ms;
    scale: 1.2;
}

.instagram-logo{
    height: 140px;
    width: 146.5px;
    cursor: pointer;
    border-radius: 42px;
    /* margin-left: 30px; */
}

.instagram-header {
    color: white;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}

.instagram-logo:hover{
    transition: 400ms;
    scale: 1.2;
}

.youtube-logo {
    height: 130px;
    width: 170px;
    border-radius: 30px;
    cursor: pointer;
}

.youtube-header {
    color: white;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}

.youtube-logo:hover{
    transition: 400ms;
    scale: 1.2;
}

.facebook-logo {
    height: 130px;
    width: 130px;
    border-radius: 100px;
    cursor: pointer;
}

.facebook-header {
    color: white;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}

.facebook-logo:hover{
    transition: 400ms;
    scale: 1.2;
}

@media all and (width < 600px) {
    .connect-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .socials-connect {
        padding: 0 80px 50px 80px;
        align-items: center;
        justify-content: center;
        display: flexbox;
        flex-wrap: wrap;
        height: auto;
    }
    
    .connect-header {
        padding-top: 40px;
        display: flex;
        width: 100%;
        /* font-size: ; */
        justify-content: center;
    }
    
    .connect-header h3 {
        font-size: 43px;
    }

    .connect-discord, .connect-facebook, .connect-instagram, .connect-youtube {
        scale: 0.7;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

@media all and (600px < width < 928px) {    
    .socials-connect {
        scale: 0.8;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .connect-header {
        padding-top: 50px;
        display: flex;
        justify-content: center;
        background-color: var(--bg-black);
    }
    
    .connect-header h1 {
        scale: 0.8;
    }

    .connect-discord, .connect-youtube, .connect-instagram, .connect-facebook {
        scale: 0.8;
    }
    .discord-header, .youtube-header, .instagram-header, .facebook-header {
        scale: 0.8;
    }
}